*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    height: 1920px;
    width: 1644px;
}

/* costruzione e spaziatura rettangoli */
.first-row, .second-row{
    padding: 30px 62px;
}
.rect{
    width: 483px;
    height: 765px;
    background-color: #666;
}
.middle{
    margin-left:30px;
    margin-right:30px;
}


/* hover   */
.rect img:first-of-type{
    z-index: 5;
}
.rect:hover>img:first-child{
    visibility: hidden;
}

img{
    width: 100%;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.inline{
    display: inline-block;
}

